<!-- {% load static from static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>
        Document
    </title>
</head>
<body>
    <div class="">
        <a href="{% url 'head:create_book' %}">Добавить книгу</a>
    </div>
    <div class="">
        <a href="{% url 'head:delete_book' %}">Удалить книгу</a>
    </div>
    <div class="">
        <a href="{% url 'head:search_book' %}">Найти книгу</a>
    </div>
    <div class="">
        <a href="{% url 'head:change_status' %}">Изменить статус книги</a>
    </div>
    <div class="" style="text-align: center;">
            {% for book in books %}
            <div>
                {{ book.pk }} {{ book.title }} {{ book.auther }} {{ book.year }} {{ book.status }}
            </div>
            {% endfor %}
    </div>
</body>
</html>