<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="{% url 'head:home' %}">Назад</a>
    <form method="get">
        <div class="field has-addons">
            <span class="control">
                <input type="search" class="input" name="search">
            </span>
            <span class="control">
                <button class="button" type="submit">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
            </span>
        </div>
    </form>
    <ul>
        {% for book in search_books %}
        <li>
            {{ book.pk }} {{ book.title }} {{ book.author }} {{ book.year }} {{ book.status }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>